/* card */
.cards-wrapper {
  display: flex;
  justify-content: center;
}
.card img {
  max-width: 100%;
  max-height: 100%;
}
.card {
  margin: 0 0.5em;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
  border-radius: 0;
}
.carousel-inner {
  padding: 1em;
}
.carousel-control-prev,
.carousel-control-next {
  background-color: #e1e1e1;
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}
.carousel-control-prev:hover{background-color: black;}
.carousel-control-next:hover{background-color: black;}

@media (min-width: 768px) {
  .card img {
    height: 11em;
  }
}

/* MLA */
.mla-class{
  display: flex;
}
.mla-container{
  width: 100%;
}
.mla-card{
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border-radius: 25px;
  width: 48%;
  display: inline-block;
  margin: 10px;
}
.mla-card img{
  margin: 15px;
  width: 20%;
  border-radius: 50%;
}
.mla-body{
  display: inline;
  float: right;
  width: 75%;
  
}
.seperator{
  width:50px;
  height:3px;
  background:#ff8000;
  border-radius: 10px;
}

.justify{
  padding: 15px;
  text-align: justify;
}

/* MP card */
.mp-class{
  display: flex;
  text-align: center;
}
.mp-container{
  width: 100%;
}
.mp-card{
  border: 1px #ff8000 solid;
  box-shadow: 2px 6px 8px 0 rgba(26, 24, 22, 0.18);
  border-radius: 25px;
  height: 25%;
  width: 30%;
  display: inline-block;
  margin: 10px;
}
.mp-card img{
  border: 2px gray solid;
  box-shadow: 5px gray;
  margin: 15px;
  width: 55%;
  border-radius: 50%;
}
.mp-body{
  width: 100%;
  height: 45%;
  
}

@media (max-width: 576px) {
  .mla-card{
    width: 95%;
    margin: 5px;
    text-align: center;
  }
  .mla-card img{
    width: 50%;
  }
  .mla-body{
    width: 100%;
  }

  .mp-card{
    width: 85%;
    height: 10%;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .mla-card{
    width: 47%;
    margin: 5px;
    text-align: center;
  }
  .mla-card img{
    width: 50%;
  }
  .mla-body{
    width: 100%;
  }
  .mp-card{
    width: 41%;
    height: 20%;
  }
}

