.container-con {
    background-color: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  }
  
  .container-con .title {
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    position: relative;
    margin-bottom: 20px;
  }
  
  .container-con .title::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    border-radius: 5px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
  }
  
  .content form .form-group {
    margin-bottom: 20px;
  }
  
  form .form-group label {
    font-weight: 500;
  }
  
  form .form-control {
    height: 45px;
    border-radius: 5px;
  }
  
  form .form-control:focus,
  form .form-control:valid {
    border-color: #9b59b6;
  }
  
  form .form-check-label {
    margin-left: 10px;
  }
  
  form .btn-primary {
    background-color: #9b59b6;
    border-color: #9b59b6;
  }
  
  form .btn-primary:hover {
    background-color: #723e2b;
    border-color: #723e2b;
  }
  
  @media (max-width: 767px) {
    .container-con {
      padding: 15px;
    }
  }
  