
.card .icon {
    font-size: 150%;
    padding: 5px;
}

.card .icon a {
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    padding: 5px;
    margin: 5px;
}

.card-text {
    margin: 10px;
}


.gallery-class {
    display: flex;
    justify-content: center;
}

.image-gallery {
    width: 80%;
    max-width: 1200px;
}

.responsive {
    width: 33.33%;
    padding: 5px;
    float: left;
}

.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    overflow: hidden;
}

.card {
    position: relative;
    max-width: 100%;
}

.card-img {
    opacity: 0.7;
    width: 100%;
    height: auto;
}

.card-img:hover {
    opacity: 0.4;
}

.card-text {
    margin: 10px;
    text-align: center;
}

/* Share */

body {
    background: white;
}

::selection {
    color: #fff;
    background: #1d4ed8;
}

.view-modal,
.popup {
    position: absolute;
    left: 50%;
}

.view-modal {
    padding: 5px;
    margin: 0;
    top: 12%;
    left: 89%;
    color: #e8e4ee;
    font-weight: bold;
    font-size: 18px;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    background: #1d4ed8;
    transform: translate(-50%, -50%);
}

.view-modal:hover {
    color: black;
}

.popup {
    background: rgb(255, 254, 254);
    padding: 25px;
    border-radius: 15px;
    top: 10%;
    max-width: 380px;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    transform: translate(-50%, -50%) scale(1.2);
    transition: top 0s 0.2s ease-in-out,
        opacity 0.2s 0s ease-in-out,
        transform 0.2s 0s ease-in-out;
}

.popup.show {
    top: 50%;
    left: 50%;
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
    transition: top 0s 0s ease-in-out,
        opacity 0.2s 0s ease-in-out,
        transform 0.2s 0s ease-in-out;

}

.popup :is(header, .icons, .field) {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popup header {
    padding-bottom: 15px;
    border-bottom: 1px solid #ebedf9;
}

header span {
    font-size: 21px;
    font-weight: 600;
}

header .close,
.icons a {
    display: flex;
    align-items: center;
    border-radius: 50%;
    justify-content: center;
    transition: all 0.3s ease-in-out;
}

header .close {
    color: #878787;
    font-size: 17px;
    background: #f3f3f3;
    height: 33px;
    width: 33px;
    cursor: pointer;
}

header .close:hover {
    background: #ebedf9;
}


.content p {
    font-size: 16px;
}
.content .icons{
    padding: 0;
}

.content .icons a {
    margin: 3px;
    height: 50px;
    width: 50px;
    font-size: 20px;
    text-decoration: none;
    border: 1px solid transparent;
}

.icons a i {
    transition: transform 0.3s ease-in-out;
}

.icons a:nth-child(1) {
    color: #1877F2;
    border-color: #b7d4fb;
}

.icons a:nth-child(1):hover {
    background: #1877F2;
}

.icons a:nth-child(2) {
    color: #46C1F6;
    border-color: #b6e7fc;
}

.icons a:nth-child(2):hover {
    background: #46C1F6;
}

.icons a:nth-child(3) {
    color: #e1306c;
    border-color: #f5bccf;
}

.icons a:nth-child(3):hover {
    background: #e1306c;
}

.icons a:nth-child(4) {
    color: #25D366;
    border-color: #bef4d2;
}

.icons a:nth-child(4):hover {
    background: #25D366;
}

.icons a:nth-child(5) {
    color: #0088cc;
    border-color: #b3e6ff;
}

.icons a:nth-child(5):hover {
    background: #0088cc;
}

.icons a:hover {
    color: #fff;
    border-color: transparent;
}

.icons a:hover i {
    transform: scale(1.2);
}

.content .field {
    margin: 12px 0 -5px 0;
    height: 45px;
    border-radius: 4px;
    padding: 0 5px;
    border: 1px solid #757171;
}

.field.active {
    border-color: #7d2ae8;
}

.field i {
    width: 50px;
    font-size: 18px;
    text-align: center;
}

.field.active i {
    color: #7d2ae8;
}

.field input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 15px;
}

.field button {
    color: #fff;
    padding: 5px 18px;
    background: #7d2ae8;
}

.field button:hover {
    background: #8d39fa;
}


/* Mobile devices */
@media screen and (max-width: 480px) {
    .responsive {
        width: 100%;
        float: none;
    }
}

/* Tablets and small desktop screens */
@media screen and (min-width: 481px) and (max-width: 768px) {
    .responsive {
        width: 50%;
        float: none;
    }
}

/* Larger desktop screens */
@media screen and (min-width: 769px) {
    .responsive {
        width: 33.33%;
        float: left;
    }
}
