* {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}
/* ScrollBar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #869a8d;
  border-radius: 12px;
  transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: #FF7F50;
}

/* Navbar */
.navbar {
  width: 100%;
  background-color: #FF7F50;
  border-bottom: 2px solid black;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.shivsena-text {
  font-size: 20px;
  font-weight: bold;
  color: white;
  margin-left: 15px;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler-icon {
  border: none;
}

.navbar-nav .nav-item {
  padding: 8px;
}

.nav-link {
  color: white;
  font-size: 16px;
  font-weight: bold;
}

.btn {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  border: none;
  background-color: orange;
  color: black;
  font-weight: bold;
  border-radius: 10vh;
}
.btn:hover {
    color:  black;
}

.nav-item a {
  transition: transform 0.3s ease-in-out;
}

.nav-item a:hover {
  transform: scale(1.1);
  border-radius: 20px;
  background-color: none;
}

@media (max-width: 767px) {
  .navbar-nav {
    justify-content: center;
    width: 100%;
  }

  .navbar-toggler {
    margin-right: 5px;
  }

  .navbar-toggler-icon {
    border: none;
  }

  .container button {
    border: none;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  }
}


/* slideshow */
.carousel {
  z-index: 0;
}

.carousel-item img {
  height: 400px;
}

.carousel-caption .btn-read-story {
  border: 2px black solid;
  margin: 0%;
  color: black;
}

@media (max-width: 576px) {
  .carousel-item img {
    height: 200px;
  }

  .carousel-caption a.btn-read-story {
    display: block;
    font-size: 20px;
    margin-top: 10px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .carousel-item img {
    height: 500px;
  }

  .carousel-caption a.btn-read-story {
    display: none;
  }
}

@media (min-width: 992px) {
  .carousel-item img {
    height: 600px;
  }

  .carousel-caption a.btn-read-story {
    display: none;
  }
}



/* Image Gallery */
.event-center {
  margin-top: 30px;
  text-align: center;
}

.gallery {
  border: 1px solid #ccc;
  padding: 10px;
}

.gallery:hover {
  border: 1px solid #777;
}

.gallery img {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  width: 100%;
  height: 38vh;

}

.desc {
  padding: 15px;
  text-align: justify;
}

.responsive {
  padding: 10px;
  float: left;
  width: 25%;
}

.gallery-button {
  border: none;
  padding: 7px 10px;
  font-size: 15px;
  border-radius: 0.375rem;
  background-color: #1d4ed8;
  color: #fff;
  cursor: pointer;
}

.gallery-button:hover {
  color: #fff;
  font-weight: bold;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}


@media only screen and (max-width: 700px) {
  .responsive {
    width: 50%;
    margin: 6px 0;
  }

  .gallery img {
    border: 2px black solid;
    width: 100%;
    height: 38vh;

  }

}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }

  .gallery img {
    border: 2px black solid;
    width: 100%;
    height: 38vh;

  }
}

/* Footer */
footer {
  background-color: #FF6C49;
  color: white;
  font-size: 16px;
}
.bgimg{
  position: relative;
}
.bgimg::before{
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("/image/shivShenaLogo.png");
  opacity: 0.1;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}
.container{
  position: relative;
}
footer h3 {
  color: white;
  font-weight: bold;
}

footer a {
  color: white;
  text-decoration: none;
}

footer a:hover {
  color: black;
}

.footerimg img {
  width: 19vh;
}

.copy-text {
  text-align: center;
  margin-top: 2%;
  font-size: 20px;
  font-weight: bold;
}

@media (max-width: 767px) {
  .footerimg {
    text-align: center;
    margin-bottom: 10px;
  }

  .copy-text {
    margin-top: 10px;
  }
}

/* dropdown */
/* .dropdown-item:hover {
  background-color: #1d4ed8;
  color: white;
} */

/* minister card */
.container-card {
  display: flex;
  justify-content: center;
}

.card {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  margin: 10px;
}

.center {
  margin: 10px;
  text-align: center;
}

/* sidenav */
.mysidenav {
  background-color: #FF7F50;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.mysidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: black;
  display: block;
  transition: 0.3s;
}

.mysidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}


@media screen and (max-height: 450px) {
  .mysidenav {
    padding-top: 15px;
  }

  .mysidenav a {
    font-size: 18px;
  }
}

/* only for margin */
.margin {
  margin: 10px;
  width: 85%;
  margin-top: 10%;
}

/* up button */

.scroll-button a {
  z-index: 1;
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: white;
  background: #FF7F50;
  padding: 7px 12px;
  font-size: 18px;
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  display: none;
}

.scroll-button a {
  transition: transform 0.3s ease-in-out;
}

.scroll-button a:hover {
  transform: scale(1.2);
}


.ideal-class {
  display: flex;
  justify-content: center;
}

.ideal-gallery {
  width: 80%;
  max-width: 1200px;
}

.ideal-responsive {
  width: 33.33%;
  padding: 5px;
  float: left;
}

.card a img {
  width: 100%;
}

/* Mobile devices */
@media screen and (max-width: 480px) {
  .ideal-responsive {
    width: 100%;
    float: none;
  }
}

/* Tablets and small desktop screens */
@media screen and (min-width: 481px) and (max-width: 768px) {
  .ideal-responsive {
    width: 50%;
    float: none;
  }
}

/* Larger desktop screens */
@media screen and (min-width: 769px) {
  .ideal-responsive {
    width: 33.33%;
    float: left;
  }
}

/* socialMedia */
.socialMedia {
  display: inline;
}

.socialMedia a {
  padding: 10px;
  border-radius: 9px;
}

.socialMedia a i {
  transition: transform 0.3s ease-in-out;
}

.socialMedia a:nth-child(1) {
  color: #1877F2;
  border-color: #b7d4fb;
}

.socialMedia a:nth-child(1):hover {
  background: #1877F2;
}

.socialMedia a:nth-child(2) {
  color: #46C1F6;
  border-color: #b6e7fc;
}

.icons a:nth-child(2):hover {
  background: #46C1F6;
}

.socialMedia a:nth-child(3) {
  color: #e1306c;
  border-color: #f5bccf;
}

.socialMedia a:nth-child(3):hover {
  background: #e1306c;
}

.socialMedia a:nth-child(4) {
  color: #25D366;
  border-color: #bef4d2;
}

.socialMedia a:nth-child(4):hover {
  background: #25D366;
}

.socialMedia a:nth-child(5) {
  color: #0088cc;
  border-color: #b3e6ff;
}

.socialMedia a:nth-child(5):hover {
  background: #0088cc;
}

.socialMedia a:nth-child(6) {
  color: #CD201F;
  border-color: #b3e6ff;
}

.socialMedia a:nth-child(6):hover {
  background: #CD201F;
}

.socialMedia a:hover {
  color: #fff;
  border-color: transparent;
}

.socialMedia a:hover i {
  transform: scale(1.2);
}

/* dropdown-right */
.dropdown-menu li {
  position: relative;
  }
  .dropdown-menu .dropdown-submenu {
  display: none;
  position: absolute;
  left: 100%;
  top: -7px;
  }
  .dropdown-menu .dropdown-submenu-left {
  right: 100%;
  left: auto;
  }
  .dropdown-menu > li:hover > .dropdown-submenu {
  display: block;
  }