* {
    box-sizing: border-box;
}

body {
    background-color: #fafafa;
}

section {
    height: auto;
    width: auto;
}

section .story-container {
    border: 2px #e2dede solid;
    margin: 10px;
}

section .story-container .story {}

/* === title === */
section .story-container .story .three {
    margin: 10px 10px;
    width: 40%;
}

section .story-container .story .three h1 {
    font-size: 49px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 1.5em;
    padding-bottom: 15px;
    position: relative;
}

section .story-container .story .three h1:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 5px;
    width: 55px;
    background-color: #111;
}

section .story-container .story .three h1:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 2px;
    height: 1px;
    width: 95%;
    max-width: 255px;
    background-color: #333;
}

.story-container p.image-p {
    display: inline-block;
    padding: 10px;
    margin: 0px;
    width: 55%;
}

.story-container img {
    border: 5px #d74f12 solid;
    border-radius: 5%;
    margin-top: -8%;
    margin-left: 0px;
    width: 44%;
}

#titlebox {
    position: relative;
}

.story-container p {
    text-align: justify;
    padding: 10px;
    margin: 2px 0px;
}

/* === HEADING === */
.three {
    margin: 10px 10px;
}

.three h1 {
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 1.5em;
    padding-bottom: 15px;
    position: relative;
}

.three h1:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 5px;
    width: 55px;
    background-color: #111;
}

.three h1:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 2px;
    height: 1px;
    width: 95%;
    max-width: 255px;
    background-color: #333;
}

h1 {
    margin: 10px;
}