@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: auto;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    margin: 0;
    padding: 0;
}

/*** Navbar ***/
.navbar {
    margin: auto;
    height: 79%;
    width: auto;
    background-color: #FF7F50;
    border-bottom: 2px black solid;
}
  /* .navbar {
    background-color: #333;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
  } */

nav a img {
    margin: 4px 64px;
    height: 80px;
    width: 80px;
}

.navbar .shivsena-text {
    display: block;
    margin: -65px 185px;
    height: 44px;
    width: 95px;
    font-size: 20px;
    font-weight: bold;
    color: white;

}

.topnav {
    display: flex;
    overflow: hidden;
    margin: 21px 366px;
    height: 22%;
    width: 35%;
    padding: 7px 28px;
    font-family: 'Poppins',sans-serif;

}

.topnav a {
    color: white;
    font-size: 18px;
}

.topnav a:hover {
    color: black;
    font-size: 19px;
    font-weight: bold;
}

.navbar .nav-button {
    border: 5px rgb(253, 153, 2) solid;
    float: right;
    margin: -55px 6%;
    padding: 10px 10px;
    color: black;
    text-align: center;
    width: 10%;
    height: 20%;
    font-weight: bold;
    background-color: orange;
    border-radius: 10vh;

}
span{
    font-size: 15px;
}
.nav-button span a{
    color: black;

}

.navbar span:hover {
    font-size: 16px;
    cursor: pointer;
}

/* Slideshow container */
.slideshow-container {
    border: 2px rgb(214, 165, 165) solid;
    max-width: 100%;
    /* position: relative; */
    margin: 5px;
    height: 73vh;
}
.mySlides {
    display: none;
}

img.slide-image {
    margin: auto;

}

.slide-image {
    height: 73vh;
    width: 205vh;
}

.dot-border {
    margin: -6%;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Next & previous buttons */
.prev {
    cursor: pointer;
    position: absolute;
    top: 37%;
    padding: 35px;
    margin: 0vh -5vh;
    color: black;
    font-weight: bold;
    font-size: 40px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    cursor: pointer;
    position: absolute;
    top: 37%;
    padding: 35px;
    margin: 0vh 191vh;
    color: black;
    font-weight: bold;
    font-size: 40px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.slide-btn{
    background-color: #FF7F50;
    color: white;
    cursor: pointer;
    text-align: center;
    padding: 4px;
    height: 114%;
    width: 100%;
    font-size: 132%;
    display: inline-block;
    
}
.slide-btn:hover{
    background-color: #4d0c0c;
    font-size: 140%;
}



.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@media only screen and (max-width: 300px) {

    .prev,
    .next,
    .text {
        font-size: 11px
    }
}

/* Image Gallery */
/* .image-gallery{
    
} */
div.gallery {
    margin-top: 30px;
    border: 1px solid #ccc;
    padding: 10px 10px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: justify;
}

.responsive {
    padding: 10px 5px;
    float: left;
    width: 24.99999%;
}

.gallery-button {
    border: none;
    padding: 7px 10px;
    font-size: 15px;
    border-radius: 0.375rem;
    background-color: rgb(29 78 216);
    color: rgb(255 255 255);
    cursor: pointer;
}

.gallery-button:hover {
    color: white;
    font-weight: bold;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

/* contact-form */

.input-box{
    /* border: 1px black solid; */
    font-family: 'Poppins',sans-serif;
    display: flex;
     justify-content: center;
    /* align-items: center; */
}

.container{
    max-width: 700px;
    width: 100%;
    background-color: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
  }

  .container .title{
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    position: relative;
  }

  .container .title::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    border-radius: 5px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
  }

  .content form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 32px 0 12px 0;
  }

  form .user-details .input-box{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
  }

  form .input-box span.details{
    display: block;
    margin: 10px;
    font-weight: 500;
    margin-bottom: 5px;
  }
  .user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
  }

  
.user-details .input-box input:focus,
.user-details .input-box input:valid{
  border-color: #9b59b6;
}
 form .input-box .gender-title{
  font-size: 20px;
  font-weight: 500;
 }
 form .category{
   display: flex;
   width: 80%;
   margin: 14px 0 ;
   justify-content: space-between;
 }
 form .category label{
   display: flex;
   align-items: center;
   cursor: pointer;
 }
 form .category label .dot{
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}
 #dot-1:checked ~ .category label .one,
 #dot-2:checked ~ .category label .two,
 #dot-3:checked ~ .category label .three{
   background: #9b59b6;
   border-color: #d9d9d9;
 }
 form input[type="radio"]{
   display: none;
 }
 form .button{
   height: 45px;
   margin: 35px 0
 }
 form .button input{
   height: 100%;
   width: 100%;
   border-radius: 5px;
   border: none;
   color: #fff;
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1px;
   cursor: pointer;
   transition: all 0.3s ease;
   background: linear-gradient(135deg, #FF7F50, #723e2b);
   font-weight: bold;
 }
 form .button input:hover{
    color: black;
    font-weight: bold;
  transform: scale(0.99);
  background: linear-gradient(135deg, #be6646, #FF7F50);
  }

 @media(max-width: 584px){
 .container{
  max-width: 100%;
}
form .user-details .input-box{
    margin-bottom: 15px;
    width: 100%;
  }
  form .category{
    width: 100%;
  }
  .content form .user-details{
    max-height: 300px;
    overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar{
    width: 5px;
  }
  }
  @media(max-width: 459px){
  .container .content .category{
    flex-direction: column;
  }
}

/* Footer */
footer {
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 3% 15%;
    background-color: #FF7F50;
    color: white;
    font-size: 16px;
}

li a {
    color: white;
}

footer * {
    outline: none;
}

.column {
    float: left;
    width: 20%;
    padding: 0 10px;
}

.column-text:hover{
    color: black;
    font-weight: bold;
}

.row {
    margin: -10px -130px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.footer-container .footerimg{
    margin: -4% 108%;
    height: 10%;
    width: 10%;
}

.footer-container .footerimg img{
    width: 19vh;
}